[Desktop Entry]
Type=Application
Name=Waypaper (restore wallpaper)
Exec=waypaper-gnome --restore
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
